
@{
    ViewData["Title"] = "Index";
	    Layout = "~/Areas/Admin/Views/Shared/_LayoutS.cshtml";
}


<div class="htlfndr-about-us">
	<main id="htlfndr-main-content"
		  class="htlfndr-main-content"
		  role="main">
		<article>
			<br />
			<br />
			<div style="    margin-top: 4%;" class="h5 text-center text-uppercase">About us</div>
			<h1 class="text-center">What We Do Everyday</h1>
			<div class="htlfndr-section-under-title-line"></div>
			<div class="htlfndr-text">
				<p>
					"What We Do Everyday" is more than just a name; it's a promise.
					A promise to be your reliable companion on this transformative
				</p>
				<p>
					journey, making sure you find the ideal home to foster cherished
					memories and personal growth. Join us today, and let's create
				</p>
				<p>
					unforgettable experiences together throughout your academic
					adventure.
				</p>
				<p>Every day, we strive to create a safe and comfortable haven</p>
				<p>
					for you to flourish academically and socially. Our user-friendly
					platform simplifies the process of finding your dream living
				</p>
				<p>space.</p>
			</div>
		</article>
		<article class="htlfndr-creative-team">
			<div style="height: 30px"></div>
			<h1 class="text-center">Our Creative Team</h1>
			<hr />
			<p class="small text-center">
				Redefining Student Accommodation with Innovation and Passion.
				Talented designers, developers, and marketers crafting a

			</p>
			<p class="small text-center">
				user-centric platform. Join us on this transformative journey for
				an unforgettable student living experience.
			</p>
			<div class="row container">
				<div class="col-md-3 col-sm-6 col-xs-6" style="    margin-top: 8%;">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img src="./images/about/prof.jpg" />
						</div>
						<h3 class="htlfndr-user-name">Professor Hani Bani-Salameh</h3>
						<h6 class="htlfndr-user-membership">Project Supervisor</h6>
					</div>
				</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img src="./images/about/kareem.JPG" />
						</div>
						<h3 class="htlfndr-user-name">Kareem Maher</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img src="./images/about/omar.jpg" />
						</div>
						<h3 class="htlfndr-user-name">Omar Salhab</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img src="./images/about/Oballi.jpg" />
						</div>
						<h3 class="htlfndr-user-name">Mohammed oballi</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="htlfndr-user-person-navigation">
						<div class="htlfndr-user-avatar">
							<img  src="http://placehold.it/125x120" />
						</div>
						<h3 class="htlfndr-user-name">Moayed Mhanna</h3>
					</div>
				</div>

			</div>
		</article>
		<article class="htlfndr-contact container">
			<h1 class="text-center">Want to become Part of our Team?</h1>
			<p class="text-center htlfndr-slogan">
				We are looking just for you!
			</p>
			<p class="text-center htlfndr-font-24">
				<i class="fa fa-paper-plane"></i>
			</p>
			<p class="text-center">
				<a class="btn-default" asp-action="Index" asp-controller="Contact">Contact Us</a>
			</p>
		</article>
	</main>
</div>